include ./layout

block content
    form(name='settings', method='POST', action='/scan', enctype='application/x-www-form-urlencoded')
        div.setting-line
            span Режим
            select(name='mode')
                -for (let i = 0; i < settings.mode.values.length; i++) {
                    options(value=settings.mode.values[i]) #{settings.mode.values[i]}
                -}
        div.setting-line
            span Качество
            select(name='dpi')
                

        div.setting-line
            span Яркость
            input(type='range')

        div.setting-line
            span Контрастность
            input(type='range')

        div.submit-line
            div.button.submit
                input(type='submit')

            div.button.cancel


    div#preview-field
        img.preview

