include ./layout
    block body
        include ./header
        div.page-content
            div.page-row
                div.tile.t-medium
                    a(href='/printer')
                        div.image-container
                            img(src='/img/printer.png')
                        span.tile-title Печать
                div.tile.t-medium
                    a(href='/scan')
                        div.image-container
                            img(src='/img/scaner.png')
                        span.tile-title Сканирование
                div.tile.t-medium
                    a(href='/scan/fast')
                        div.image-container
                            img(src='/img/copy.png')
                        span.tile-title Распечатать
